@media (min-height: 0px) {
  .element {
    overflow:hidden;
  }
}


@media (min-height: 300px) {
  .element {
    overflow:visible;
  }
}


@media (min-height: 0px) {
  .element {
    align-items: start;
  }
}

@media (min-height: 590px) {
  .element {
    align-items: center;
  }
}
